%% -*- erlang -*-
{erl_opts, [{src_dirs,["src"]}]}.
{deps, [
	%{gen_smtp, ".*",
	% {git, "git://github.com/ronalfei/gen_smtp.git", "master"}},
	{amqp_client, ".*", 
	 {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2"}}},
	{lager, ".*",
 	 {git, "git://github.com/basho/lager.git", "master"}}
	]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
